<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.artifex.mupdf.viewer.OutlineActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="com.xlk.mupdf.library.MuPdfDocumentActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="user" />
    </application>
</manifest>
